.datepicker {
    width: 100%;
    position: relative;
    margin-top: 3px;
    &::before {
        position: absolute;
        z-index: 1;
        right: 23px;
        color: $primary;
        font-size: 23px;
        top: 7px;
        cursor: pointer;
    }
    input {
        padding: 23px;
        font-size: 1rem;
        color: $grey;
    }
    .ant-calendar-picker-icon {
        display: none;
    }
}

.match {
    &__label {
        font-size: 10px;
        color: $secondary;
        margin-bottom: 3px;
        text-transform: uppercase;
        width: 100%;
    }
    &__people {
        position: absolute;
        z-index: 1;
        left: 47px;
        top: 13px;
        font-size: 1rem;
        color: $grey;
    }
    &__price {
        font-weight: bold;
        font-size: 1.12rem;
        color: $grey;
        text-align: right;
    }
    &__input {
        padding: 23px;
        font-size: 1rem;
        color: $grey;
        width: 100%;
        &__icon {
            &::before {
                position: absolute;
                z-index: 1;
                right: 23px;
                color: $primary;
                font-size: 23px;
                top: 7px;
                cursor: pointer;
            }
        }
        &--number {
            width: 100%;
            height: 48px;
            input {
                padding: 23px;
                font-size: 1rem;
                color: $grey;
            }
        }
        &--price {
            .ant-input-number-handler-down,
            .ant-input-number-handler-up,
            .ant-input-number-handler-wrap {
                display: none;
            }
            &__icon {
                position: absolute;
                z-index: 1;
                font-size: 20px;
                right: 18px;
                top: 7px;
            }
        }
    }
}

.timepicker {
    width: 100%;
    input {
        padding: 23px;
        font-size: 1rem;
        color: $grey;
    }
    .ant-time-picker-icon {
        display: none;
    }
    &__word {
        position: absolute;
        z-index: 1;
        left: 52px;
        top: 12px;
        font-size: 1rem;
        color: $grey;
    }
}

.btn {
    &--primary {
        width: 100%;
        padding: 12px;
        font-size: 1rem;
        text-align: center;
        background: $primary;
        border-radius: 4px;
        border: none;
        color: white;
        font-weight: bold;
    }
    &--map {
        width: 100%;
        background: url(../../design_images/btn_map.jpg) center no-repeat;
        background-size: cover;
        padding: 12px;
        color: white;
        font-weight: bold;
        border: none;
        &:hover {
            color: lighten($primary, 20%);
        }
    }
}
.team__word {
    @extend .match__people;
    left: 40px;
}