.field {
  &__card {
    background: white;
    color: $grey;
    font-size: 1rem;
    margin: 1rem -15px;
    cursor: pointer;
    display: block;
    position: relative;
    &:hover {
      color: $grey;
    }
    @include media-breakpoint-up(sm) {
      margin: 1rem 0;
    }
    .ant-carousel .slick-dots li button {
      width: 6px;
      height: 6px;
      border-radius: 50%;
    }
    .ant-carousel .slick-dots li.slick-active button {
      width: 6px;
      height: 6px;
    }
    .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
      display: none;
    }
    .ant-collapse > .ant-collapse-item > .ant-collapse-header {
      padding-left: 16px;
      font-size: 1rem;
      font-weight: bold;
      color: $grey;
    }
    &--details {
      cursor: unset;
      margin: 0;
      .field__images {
        top: 250px;
      }
      .btn--primary {
        padding: 8px 18px;
      }
      .icon--map-s {
        &::before {
          margin-right: 8px;
        }
      }
      .icon--arrow-down {
        &::before {
          position: absolute;
          top: 16px;
          left: 103px;
          color: $primary;
        }
      }
      .ant-tabs-nav {
        width: 100%;
      }
      .ant-tabs-nav > div {
        display: flex;
        justify-content: space-between;
      }
      .ant-tabs-bar {
        border: none;
      }
      .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
        height: 27px;
        padding: 0 10px;
        line-height: 24px;
        background: $light-blue;
        border: none;
        border-radius: 5px;
        color: $grey;
      }
      .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
        background: $primary;
        color: white;
      }
      .ant-collapse-borderless > .ant-collapse-item {
        position: relative;
      }
    }
  }
  &__carousel {
    height: 130px;
    overflow: hidden;
    &--details {
      height: 300px;
      overflow: hidden;
    }
  }
  &__address {
    font-size: 13px;
    text-align: left;
  }
  &__images {
    position: absolute;
    top: 100px;
    background: transparentize(black, 0.7);
    color: white;
    display: flex;
    align-items: center;
    left: 22px;
    padding: 0 5px;
    border-radius: 4px;
    &::before {
      margin-right: 4px;
    }
  }
  &__label {
    font-size: 12px;
    color: $secondary;
  }
  &__text {
    font-size: 14px;
    color: $black;
    &--phone {
      a {
        color: $black;
      }
    }
    &--site {
      color: $primary;
    }
  }
  &__format {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4px;
    &--t-shirt {
      display: inline-block;
      background: $success;
      border-radius: 5px;
      color: white;
      font-weight: bold;
      padding: 5px 8px;
      font-size: 14px;
      margin-left: 5px;
    }
  }
  &__icon {
    &--description {
      &::before {
        @extend %field__icons;
        left: 107px;
      }
    }
    &--timetable {
      &::before {
        @extend %field__icons;
        left: 147px;
      }
    }
    &--contacts {
      &::before {
        @extend %field__icons;
        left: 107px;
      }
    }
  }
}

%field__icons {
  content: "î¤„";
  font-family: 'icomoon';
  font-size: inherit;
  position: absolute;
  top: 17px;
  color: $primary;
  transition: all 0.4s ease-in;
}
.rotate-icon {
  &::before {
    transform: rotate(180deg);
  }
}
.padding-top {
  padding: 60px;
}
.search-desktop {
  display: none;
}
.search-input {
  width: 65%;
  padding: 4px;
  border-radius: 4px;
  margin-top: 20px;
}
.search-block {
  position: absolute;
  box-sizing: border-box;
  padding: 20px 10px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  text-align: center;
  background: rgba(20, 20, 20, 0.8);
}
@media (min-width: 705px) {
  .search-mobile {
    display: none;
  }
  .search-desktop {
    display: inline-block;
  }
}