.logo {
    margin-bottom: 40px;
    margin-top: 100px;
    background: url('../content_images/LogoBig.png') center no-repeat;
    height: 45px;
}
.title {
    margin-bottom: 50px;
    font-size: 28px;
}
.input {
    padding: 25px 10px !important;
    margin-bottom: 10px;
    font-size: 16px !important;
}
.container-login {
    max-width: 400px;
    margin: 0 auto;
}
@media (max-width: 576px) {
    .title {
        font-size: 20px;
    }
    .container-login {
        max-width: 320px;
    }
    .logo {
        margin-top: 40px;
        margin-bottom: 20px;
        background: url('../content_images/LogoSmall.png') center no-repeat;
    }
}
@media (max-width: 370px) {
    .container-login {
        max-width: 280px;
    }
}