.logo {
    margin-bottom: 40px;
    background: url('../../content_images/LogoBig.png') center no-repeat;
    height: 45px;
}
.title {
    margin-bottom: 50px;
    font-size: 28px;
}
.input {
    padding: 25px 10px !important;
    margin-bottom: 10px;
    font-size: 16px !important;
}
.container-login {
    max-width: 400px;
    margin: 0 auto;
    // border: 1px solid rgba(105, 180, 250, 0.4);
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 4px #00000024;
    padding: 60px 20px;
    background: white;
    margin-top: 60px;
}
@media (max-width: 576px) {
    .title {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .container-login {
        padding: 20px 10px;
        border: none;
        max-width: 320px;
    }
    .logo {
        margin-top: 10px;
        margin-bottom: 20px;
        background: url('../../content_images/LogoSmall.png') center no-repeat;
    }
}
@media (max-width: 370px) {
    .container-login {
        max-width: 280px;
    }
}