.profile {
    &-container {
        max-width: 375px;
        margin: 0 auto;
    }
    &-header {
        text-align: center;
        box-sizing: border-box;
        padding: 9px 12px;
        background: #fff;
        box-shadow: 0 4px 5px -2px rgba(100, 100, 100, 0.4);
        font-size: 14px;
        color: #404B69;
        margin-bottom: 25px;
        display: flex;
        justify-content: center;
        &-btn-edit {
            flex: 0 0 25%;
            background: none;
            border: none;
        }
        &-btn-menu {
            flex: 0 0 25%;
        }
        &-btn:hover {
            color: grey
        }
        &-title {
            flex: 0 0 50%;
            align-self: center;
            font-weight: bold;
        }
    }
    &-main {
        box-sizing: border-box;
        padding: 10px 0;
        text-align: center;
        background: #F1F5FF;
        &-nameUser{
            font-weight: bold;
            font-size: 15px;
        }
        &-countrieUser {
            font-size: 14px;
            color: #95A0B6;
        }
        &-ratingUser {
            font-size: 12px;
            color: #95A0B6;
            text-transform: uppercase;
        }
        &-ratingNumber {
            font-weight: bold;
            font-size: 14px;
        }
        &-nameUser,
        &-ratingUser, 
        &-countrieUser {
            display: block;
            padding-bottom: 4px;
        }
        &-contacktDetails {
            background: #fff;
            text-align: left;
            padding: 10px 16px;
            box-sizing: border-box;
            font-size: 16px;
            margin-top: 15px;
            &-title {
                font-weight: bold;
                font-size: 14px;
                padding-bottom: 20px;
            }
            &-phoneTitle,
            &-mailTitle {
                color: #95A0B6;
                font-size: 12px;
                padding-bottom: 3px;
            }
            &-mailTitle {
                padding-top: 15px;
            }

        }
    }
}
.box-shadow-none {
    box-shadow: none;
}
.avatar-uploader {
    width: auto;
}
.ant-upload.ant-upload-select-picture-card {
    border-radius: 50%;
    // border: 1px solid inherit;
}
.ant-upload.ant-upload-select-picture-card img {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    object-fit: cover;
}
.margin-top {
    margin-top: 20px;
}
.border-none {
    border: none !important;
}
